:root {
    --fluor: #EDEDED;
    --espresso: #5A3114;
    --butter: #E7A811;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Yellowtail';
    font-size: 50pt;
}

.navbar {
    background-color: var(--espresso);
    color: var(--fluor);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

.banner {
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#quem-somos,
#pedidos {
    background-color: var(--fluor);
    color: var(--espresso);
}

#produtos {
    background-color: var(--espresso);
    color: var(--fluor);
}

#produtos .nav {
    --bs-nav-link-color: var(--fluor);
    --bs-link-hover-color: var(--butter);
}

#produtos .nav-pills {
    --bs-nav-pills-link-active-color: var(--espresso);
    --bs-nav-pills-link-active-bg: var(--butter);
}

#produtos .nav-link.active {
    font-weight: normal;
}

#produtos img {
    border: 4px solid var(--butter);
}

#pedidos .btn-primary {
    --bs-btn-color: var(--espresso);
    --bs-btn-bg: var(--butter);
    --bs-btn-border-color: var(--butter);
    --bs-btn-hover-color: var(--espresso);
    --bs-btn-hover-bg: #F1B61C;
    --bs-btn-hover-border-color: #F1B61C;
    font-weight: normal;
}

select:has(option:disabled:checked) {
    color: var(--bs-secondary-color);
}

select option {
    color: black;
}