:root {
    --fluor: #EDEDED;
    --espresso: #5A3114;
    --butter: #E7A811;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Yellowtail';
    font-size: 50pt;
}

h4 {
    font-weight: 300;
    color: #aeaeae;
}

.navbar {
    background-color: var(--espresso);
    color: var(--fluor);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

.banner {
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#quem-somos {
    background-color: var(--fluor);
    color: var(--espresso);
}

#produtos {
    background-color: var(--espresso);
    color: var(--fluor);
}

#produtos .nav {
    --bs-nav-link-color: var(--fluor);
    --bs-link-hover-color: var(--butter);
}

#produtos .nav-pills {
    --bs-nav-pills-link-active-color: var(--espresso);
    --bs-nav-pills-link-active-bg: var(--butter);

}

#produtos .nav-link.active {
    font-weight: normal;
}